*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html,
body{
height: 100%;
width: 100%;
}


.main{
    height: 100%;
    width: 100%;
    background-color: rgb(16, 222, 154);
}

.main img{
    position: absolute;
    height: 400px;
    top: 30%;
    left: 38%;
    transform: translate(-50% -50%);
    z-index: 999;
}


.left{
    height: 100%;
    width: 50%;
    background-color: beige;

}
.right{
    height: 100%;
    width: 50%;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}

.left nav{
    height: 10%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left nav input{
    width: 40%;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    padding: 0 30px;
    margin-right: 50px;
}

.left nav input, h1{
    margin-top: 40px;
}

.left nav h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: 600;
}


.classification-list{
    list-style: disc;
    padding-left:40% ;
    margin-top: 100px;
    
}

.classification-list li{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.classification-list li::marker{
    color: red;
}


.left .h1{
     /* color: red; */
    position: absolute;
    left: 9%;
    top: 27%;
    transform-origin: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 500;
}


.right nav{
    height: 40px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right nav h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: white;
}


.content{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.content h1{
    font-size: 60px;
    color: rgb(238, 229, 229);
    font-weight: 600;
    margin-top:20%;

}

.content .info1{
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5;

}

.content .info2{
    font-size: 28px;
    margin-top: 20px;
    margin-left: 60px;
    color: white;
    
}

.content .info2 h4{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
}


.content .info1 ul li  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.content button {
    height: 50px;
    width: 250px;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    border: none;
}